<% 
  #shape_property = product.product_properties.find_by_property_id(product.properties.find_by_name('Shape')) 
  
  #height_property = product.product_properties.find_by_property_id(product.properties.find_by_name('Height')) 
  #width_property = product.product_properties.find_by_property_id(product.properties.find_by_name('Width')) 
  
%>
<%# url = spree.product_path(product, taxon_id: @taxon.try(:id)) %>
<% url = spree.nested_taxons_path(taxon.permalink) %>
<a class="frame-selection-card <%= cycle("", "light-bg", "", "light-bg", "light-bg", "", "light-bg", "", name: "classes") %>" href="<%= url %>">
	<div class="table-parent-md">
		<div class="vertical-middle">
			<div class="frame-view <%= taxon.meta_title %>">
      <!-- <div class="frame-view <%#= shape_property.value.downcase %>-<%#= height_property.value %>-<%#= width_property.value %>"> -->
				<div class="table-parent-md">
					<div class="vertical-middle">
						<p class="frame-title"><%= taxon.name %></p>
					</div>
				</div>
			</div>
			<p class="frame-price"></p>
		</div>
	</div>
</a>
