<% unless @product_properties.empty? %>  
  <h6 class="product-section-title"><%#= t('spree.properties')%></h6>
  <div class="row">
    <div class="subsection-sm">
      <table id="product-properties" data-hook>
        <tbody>
          <% @product_properties.each do |product_property| %>
            <% css_class = cycle('even', 'odd', name: "properties") %>
            <tr>
              <td><h5 class="bigger text-uppercase"><%= product_property.property.presentation %>:</h5></td>
              <td><p class="bigger"><%= product_property.value %></p></td>
            </tr>
          <% end %>
          <% reset_cycle('properties') %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
