<% promotions = @product.possible_promotions %>
<% if promotions.any? %>
  <div class="subsection-sm separator"></div>
  <div id="promotions">
    <h3><%= t('spree.promotions') %></h3>
    <% promotions.each do |promotion| %>
    <div>
      <h4><%= promotion.name %></h4>
      <p><%= promotion.description %></p>
      <% if promotion.products.any? %>
      <% end %>
    </div>
    <% end %>
  </div>
<% end %>
