<section class="section text-center">
  <div class="container bigger">
    <div class="subsection">
      <h2 class="text-primary mb-2">Glass Gifts</h2>
      <h4 class="mb-2">A special gift for a special person</h4>
      <h4 class="fw400">Personalized photo gifts and photo print on mirror</h4>
    </div>

    <% content_for :sidebar do %>
      <div data-hook="homepage_sidebar_navigation">
        <% if "spree/products" == params[:controller] && @taxon %>
          <%= render partial: 'spree/shared/filters' %>
        <%# else %>
          <%#= render partial: 'spree/shared/taxonomies' %>
        <% end %>
      </div>
    <% end %>

    <% if params[:keywords] %>
      <div data-hook="search_results">
        <% if @products.empty? %>
          <h6 class="search-results-title"><%= t('spree.no_products_found') %></h6>
        <% else %>
          <%= render partial: 'spree/shared/products', locals: { products: @products, taxon: @taxon } %>
        <% end %>
      </div>
    <% else %>
      <div data-hook="homepage_products">
        <%= render partial: 'spree/shared/products', locals: { products: @products, taxon: @taxon } %>
      </div>
    <% end %>
  </div>
</section>
