<div class="taxons">
  <% case @taxon.permalink 
     when "glass-photo-prints" %><%= render "spree/shared/glass_photo_prints" %>
  <% when "photo-gallery" %><%= render "spree/shared/photo_gallery" %>
  <% else %><%= render "spree/shared/glass_gifts" %>
  <% end %>
</div>
