$('.order_summary').html('');
$('.order_summary').html("<div class='col-md-9'><h2 class='fw900 text-primary text-uppercase'><%= Spree.t(:edit_profile) %></h2><%= escape_javascript (render partial: 'edit_form') %></div>");