	<div class="main">
		<section class="section account-section">
			<div class="container bigger">
				<div class="row">
					<div class="col-md-3">
						<div class="account-box">
							<h2 class="text-primary account-box-title">My Account</h2>
							<ul class="account-nav">
								<li><a href="#0">My Wishlist</a>
								</li>
								<li><a href="#0">Current Order</a>
								</li>
								<li><a href="#0">Shopping cart</a>
								</li>
								<li><a href="#0">Order History</a>
								</li>
							</ul>
						</div>
						<!--/account-box-->
					</div>
					<!--/- col-->
					<div class="col-md-9">
						<h2 class="fw900 text-primary text-uppercase">CURRENT ORDER SUMMARY</h2>
						<div class="row">
							<div class="col-lg-5">
								<div class="subsection">
									<div class="order-details-card">
										<h3 class="fw900">ORDER NUMBER: GX00001</h3>
										<p> <strong>FULL NAME: </strong>Andy Chan</p>
										<p> <strong>MOBILE: </strong>852 1234 5678</p>
										<p> <strong>E-MAIL: </strong>andychan1234@gmail.com</p>
										<p><strong>BILLING ADDRESS: </strong>
										</p>
										<p>Flat 05, Floor 11, Wonder Building, 8 Start st., Wai Chai, HKSAR</p>
										<p><strong>MAILLING ADDRESS:</strong>
										</p>
										<p>Flat 03, Floor 27, Super Star Garden, 8 Super start st., Ho Man Tin, KLN, HKSAR</p>
									</div>
									<!--/order-details-card-->
								</div>
								<!--/subsection-->
							</div>
							<!--/col-->
							<div class="col-lg-7">
								<div class="table-responsive">
									<table class="table table-hover" style="min-width: 500px">
										<thead>
											<tr>
												<th scope="col"></th>
												<th scope="col">SUB-TOTAL</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>
													<div class="row">
														<div class="col-3">
															<img class="shopping-cart-img" src="http://via.placeholder.com/75x75" alt="" />
														</div>
														<div class="col">
															<h4 class="fw900 text-uppercase"><a href="#0">BIRTHDAY GIFT</a></h4>
														</div>
													</div>
												</td>
												<td>$300.00</td>
											</tr>
											<tr>
												<td>
													<div class="row">
														<div class="col-3">
															<img class="shopping-cart-img" src="http://via.placeholder.com/75x75" alt="" />
														</div>
														<div class="col">
															<h4 class="fw900 text-uppercase"><a href="#0">PHOTO PRINT ON GLASS</a></h4>
														</div>
													</div>
												</td>
												<td>$300.00</td>
											</tr>
											<tr>
												<td><i class="fa fa-truck mr-2 text-primary" aria-hidden="true"></i> Delivery fee</td>
												<td>$30.00</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="subsection">
									<div class="row">
										<div class="col-lg-6 offset-lg-6">
											<div class="row">
												<div class="col-4 offset-3">
													<p class="fw900 text-center">Total:</p>
												</div>
												<div class="col-5">
													<p class="text-center">$630.00</p>
												</div>
											</div>
										</div>
										<!--/col-->
									</div>
									<!--/row-->
								</div>
								<!--/subsection-->
							</div>
							<!--/col-->
						</div>
						<!--/row-->
					</div>
					<!--/- col-->
				</div>
				<!--/row-->
			</div>
			<!--/container-->
		</section>
		<!--/section-->
	</div>
