<section class="section">
  <div class="container">
    <div class="subsection text-center">
      <h3 class="fw400">If you have any question about your order, <br>please 
        <%= link_to 'contact us', '/contact-us', class: "link" %>.
      </h3>
    </div>
  </div>
  <!--/container-->
</section>
