<section class="section">
  <div class="container">
    <div class="subsection text-center">
      <h5 class="fw400">If you have any question about your order, <br>please 
        <%= link_to 'contact us', "#{ENV["MAIL_HOST"]}/contact-us", class: "link" %>.
      </h5>
    </div>
  </div>
  <!--/container-->
</section>
