<% unless @current_country && @current_country.in_eu? %>
  <%= javascript_include_tag "cookieBubble.eu.js" %>
<% else %>
  <%= javascript_include_tag "cookieBubble.js" %>
<% end %>  
<script>
   (function($) {
      $.cookieBubble({
        messageTextColor:'rgba(0, 0, 0, 1)',
        buttonText:'Accept', 
        messageFontSize:'17px',
        iconColor:'rgba(112, 116, 119, 1)',
        buttonColor:'rgba(0, 57, 89, 1)',
        iconVisibility:true,
        cookiePolicyButtonText:'<span class="text-underline"><strong>GlassXpert & Design Cookies Policy</strong></span>',
        cookiePolicyButtonUrl:'/cookies',
        cookiePolicyButtonTarget:'_blank',
        boxPosition:'bottom-left',
        messageText:'<h2 class="text-primary fw900">Welcome to GlassXpert & Design Website</h2><p>In order to give you the best user experience, GlassXpert & Design website uses cookies. Cookies can identify you as a unique user of the website. If you choose to disable Cookies, some areas of the Website may not work properly and / or your user experience may be adversely impacted. If you want to know more, please read GlassXpert & Design <a href="/cookies" target="_blank"><span class="text-underline"><strong>Cookie Policy</strong></span></a>. By clicking Accept, you consent to our use of cookies.</p>'
      });
  })(jQuery);
</script>
