<!--.footer - _footer.pug-->
<footer class="footer" id="footer" data-hook> <!-- class="sixteen columns"-->
  <div class="container bigger" id="footer-left" data-hook> <!-- class="columns alpha eight" -->
    <div class="row">
      <div class="col-xl-3 col-lg-6 col-md-6">
        <div class="subsection">
          <h5 class="bigger text-white">GlassXpert &amp; Design</h5>
          <p class="text-muted">&copy; <%= Date.current.year %> GlassXpert &amp; Design Company Limited
            <br>All rights reserved.</p>
        </div>
        <!--/subsection-->
      </div>
      <!--/col-->
      <div class="col-xl-3 col-lg-6 col-md-6">
        <div class="subsection">
          <p><a href="mailto:support@glassxpertndesign.com">support@glassxpertndesign.com</a>
          </p>
          <p><a href="tel:+85212345678">Fax: +852 2796 2688</a>
          </p>
        </div>
        <!--/subsection-->
      </div>
      <!--/col-->
      <div class="col-xl-6 col-lg-12">
        <div class="subsection">
          <div class="row">
            <div class="col-lg-3 col-md-3">
              <p><a href="#">Home</a>
              </p>
              <p><a href="#">Glass Gifts</a>
              </p>
              <p><a href="#">Glass Photo Prints</a>
              </p>
              <p><a href="#">Photo Gallery</a>
              </p>
              <p><a href="#">Decorative Glass</a>
              </p>
            </div>
            <!--/col-->
            <div class="col-lg-3 col-md-3">
              <p><a href="/about-us">About Us</a>
              </p>
              <p><a href="/our-production">Our Production</a>
              </p>
              <p><a href="#">Frequently Asked Questions</a>
              </p>
            </div>
            <!--/col-->
            <div class="col-lg-3 col-md-3">
              <p><a href="#">Terms and Conditions</a>
              </p>
              <p><a href="#">Privacy Policy</a>
              </p>
              <p><a href="#">Return Policy</a>
              </p>
              <p><a href="#">Shipping Info</a>
              </p>
            </div>
            <!--/col-->
            <div class="col-lg-3 col-md-3">
              <p><a href="#">Contact Us</a>
              </p>
              <p><a href="#">Facebook</a>
              </p>
              <p><a href="#">Instagram</a>
              </p>
              <p><a href="#">Frequently Asked Questions</a>
              </p>
              <p><a href="#">Business Partnership</a>
              </p>
            </div>
            <!--/col-->
          </div>
          <!--/row-->
        </div>
        <!--/subsection-->
      </div>
      <!--/col-->
    </div>
    <!--/row-->
  </div>
  <!--/container-->
</footer>
<!--/.footer-->

<%= javascript_include_tag 'spree/frontend/all' %>
<%= display_flash_message(flash) %>
<!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script>
<![endif]-->
