<% available_locales = current_store.available_locales %>
<% if available_locales.many? %>
  <%= form_tag spree.select_locale_path do %>
    <li class="nav-item dropdown d-none d-xl-block" id="locale_selector" data-hook>
      <%= render partial: 'spree/shared/select_locale', locals: {available_locales: available_locales} %>
    </li>
  <% end %>
<% end %>
