<!-- <nav id="top-nav-bar" class="columns ten"> -->
  <!-- <ul id="nav-bar" class="navbar-nav ml-auto js-collapse-activeitem" data-hook> -->
    <%#= render 'spree/shared/login_bar_items' %>
    <!-- <li id="search-bar" data-hook> -->
      <%= render partial: 'spree/shared/search' %>
    <!-- </li> -->

    <!--/ Visible 1200 and more -->
    <%= render partial: 'spree/shared/locale_selector' %>

    <!--/ Visible 1199 and min-->
    <li class="nav-item mb-5 d-xl-none">
      <div class="btn-group-vertical"><a class="btn btn-sm btn-outline-primary active" href="#">Eng1</a><a class="btn btn-sm btn-outline-primary" href="#">Eng2</a><a class="btn btn-sm btn-outline-primary" href="#">Eng3</a>
      </div>
    </li>
  <!-- </ul> -->
<!-- </nav> -->
