    <% url = spree.product_path(product, taxon_id: taxon.try(:id)) %>
		<div class="gift-card">
			<div class="gift-card-img">
				<img src="<%= product.display_image %>" alt="" />
			</div>
			<ul class="gift-card-link">
				<li>          
          <%= link_to url do %>
            <i class="fa fa-link" aria-hidden="true"></i>
          <% end %>
				</li>
			</ul>
			<div class="gift-card-blink"></div>
			<div class="gift-card-text">
				<h4 class="gift-card-title">
          <%= link_to url do %>
            <%= simple_format(product.name) %>
          <% end %>  
        </h4>
        <!-- <p class="gift-card-description"></p> -->
			</div>
		</div>
		<!--/gift-card-->
