<%
  pc = Spree::PromotionCategory.find_by_code("banner-promotion")
  promotions = pc.try(:promotions).try(:advertised)
%>
<% if promotions.present? && promotions.size > 0 %>
<div class="banner-container">
  <ul>
  <% promotions.each do |promotion| %>  
    <li><%=raw promotion.description %></li>
  <% end %>
  </ul>
</div>
<% end %>
<script type="text/javascript">
  $(function(){
    $(".banner-container").scrollText({
      'duration': 5000
    });
  });
</script>
