<div class="search-gallery">
  <% @taxon.children.each do |children| %>
    <button class="btn btn-primary btn-sm filter-taxon-btn" data-t_child= "<%= children.name %>">
        <%= children.name %>
    </button>
  <% end %>
  <button class="btn btn-success btn-sm custom-all-btn"><%= t('photo_gallery.all') %></button>
</div>
